.formControl {
    display: grid;
    margin: 15px 0;
    grid-template-columns: 200px 1fr;
    column-gap: 25px;
}

.formControl label {
    font-weight: bold;
    text-align: left;
}

.formControl input {
    padding: 5px;
}

textarea {
    padding: 5px;
    width: 100%;
    resize: vertical;
} 

